body {
	font-family: arial,sans-serif;
	font-size: 13px;
	height: 100vh; 
}

#main {
	margin-top: 89px;
}

#main img {
	padding-top: 109px;
	height: 92px;
	width: 272px;
	display: block;
	margin: auto;
}

#search-buttons, #search-bar {
  text-align: center;
}

#search-bar {
	margin-top: 20px auto 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 638px;
	height: 40px;
	padding: 6px 9px 0;
}

#search-bar input {
	width:570px;
	height:100%;
	border:1px solid #DDDDDD;
	padding: 4px 10px;
	position:relative;
	float:left;
	z-index:10;
}

.search-mic {
	position:absolute;
	width:100%;
	height:100%;
}

.search-mic img {
	float:right;
	height:21px;
	position:relative;
	top:8px;
	right:10px;
	z-index:11;
}

#search-bar span {
	background: url(img/mic.png);
	background-size: 24px 24px;
	display: inline-block;
	height: 23px;
    width: 17px;
    vertical-align: middle;
}

#search-buttons input {
    height: 36px;
    line-height: 27px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

/* footer */
.footer {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	bottom: 0;
	border-top:1px solid #e4e4e4;
}

.footer ul {
	padding: 0;
}
.footer-left {
	display: block;
	float:left;
}

.footer-right {
	display: block;
	text-align:right;
}

.footer-left ul li, .footer-right ul li{
	display:inline-block;
	padding-bottom:10px;
	color:#666;
}

.footer-left ul li{
	padding-left: 27px;
}
.footer-right ul li{
	padding-right: 27px;
}
